body {
    padding: 0%;
    margin: 0%;
    max-width: 100vw;
    max-height: 100vh;
}

.bar {
    height: 5vh;
    max-width: 100vw;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: red;
    list-style-type: none;
    
    
}

.bar > ul {
    flex-direction: column;
    background-color: pink;
    width: 50%;
}

.listaFenix {
    background-color: aqua;
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    width: 100%;
    
}

.listaFenix>li {
    background-color: purple;
    width: 100%;
    display: none;
    /*
    */
}

.nucleo {

    align-items: center;
    vertical-align: middle;
    
    margin-left: auto;
    margin-right: auto;
}

.logo {
    max-width: 20vw;
    width: 10vw;
    height: auto;

    margin-left: auto;
    margin-right: auto;
    /*
    vertical-align: middle;
    
    
    */

}

.reloj {
    display: flex;
    flex-direction: column;
    

}

.relog>li>img {
    max-width: 20vw;
    max-height: 20vh;
    height: 10vw;
    width: auto;
}